section.benefits 
    .container
        .benefits__grid
            //-  Benefits Title
            h2.benefits__title Why Choosing Us
            //-  Benefits ITEMS
            .benefit
                h3.benefit__title Luxury facilities
                p.benefit__desc You can get a workspace of the highst quality at an affordable price and still enjoy the facilities that are oly here.
                a(href="#!").read-more More Info 
            .benefit
                h3.benefit__title Affordable Price
                p.benefit__desc The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities.
                a(href="#!").read-more More Info 
            .benefit
                h3.benefit__title Many Choices
                p.benefit__desc We provide many unique work space choices so that you can choose the workspace to your liking.
                a(href="#!").read-more More Info 
