footer.footer
    .container.container--small
        .footer__grid
        
            .footer__desc 
                .footer__logo 
                    a(href="#!").logo Panto
                p The advantage of hiring a workspace with us is that givees you comfortable service and all-around facilities.

            nav.footer__nav.footer__nav--services
                h3.footer__nav-title Services
                ul.footer__list
                    li.footer__list-item
                        a(href="#!").footer__list-link Email Marketing
                    li.footer__list-item
                        a(href="#!").footer__list-link Campaigns
                    li.footer__list-item 
                        a(href="#!").footer__list-link Branding

            nav.footer__nav
                h3.footer__nav-title Furniture
                ul.footer__list
                    li.footer__list-item
                        a(href="#!").footer__list-link Beds
                    li.footer__list-item
                        a(href="#!").footer__list-link Chair
                    li.footer__list-item 
                        a(href="#!").footer__list-link All

        .footer__row
            .footer__copyright Copyright © 2021
            .footer__links
                a(href="#!") Terms & Conditions
                a(href="#!") Privacy Policy
