header.header
    //- Container
    .container
        //- Navigation
        .header__nav
            nav.nav
                //- Logo
                .nav__logo 
                    a(href="#!").logo Panto 

                //- Links
                ul.nav-list
                    li.nav-list__item
                        a(href="#!").nav-list__link.nav-list__link--dropdown Furniture
                        .nav-list__sub-nav
                            ul.sub-nav
                                li.sub-nav__item
                                    a(href="#!").sub-nav__link Home 
                                li.sub-nav__item
                                    a(href="#!").sub-nav__link Services 
                                li.sub-nav__item
                                    a(href="#!").sub-nav__link Products 
                                li.sub-nav__item
                                    a(href="#!").sub-nav__link Contacts 

                    li.nav-list__item
                        a(href="#!").nav-list__link Shop
                    li.nav-list__item
                        a(href="#!").nav-list__link About Us
                    li.nav-list__item
                        a(href="#!").nav-list__link Contact
        
                //- Cart
                a(href="#!").cart
                    img(src="./img/icons/cart.svg", alt="Cart").cart__img
                    .cart__count 0

                button.nav__btn#open-mobile-nav-btn
                    img(src="./img/icons/mobile-nav.svg", alt="Open nav")

        //- Content
        .header__content
            //- Title
            h1.header__title Make your interior more minimalistic & modern
            //- Description
            p Turn your room with panto into a lot more minimalist and modern with ease and speed
            //- Form
            form(action="").search-form.header__search
                input(placeholder="Search furniture" type="text" autocompleate="off").search-form__input
                button.search-form__btn
                    img(src="./img/icons/search.svg", alt="Search")

        //- Dots on background UI
        .header__dot-sofa
            button.info-dot
                .info-dot__circle 
                .info-dot__radius
            .info-hint.none
                label
                    input(type="radio" name="sofa-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--orange
                label
                    input(type="radio" name="sofa-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--biruze
                label
                    input(type="radio" name="sofa-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--gray


        .header__dot-vase
            button.info-dot
                .info-dot__circle 
                .info-dot__radius
            .info-hint.none
                label
                    input(type="radio" name="vase-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--orange
                label
                    input(type="radio" name="vase-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--biruze
                label
                    input(type="radio" name="vase-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--gray


        .header__dot-item
            button.info-dot
                .info-dot__circle 
                .info-dot__radius
            .info-hint.none
                label
                    input(type="radio" name="item-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--orange
                label
                    input(type="radio" name="item-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--biruze
                label
                    input(type="radio" name="item-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--gray


        .header__dot-wall
            button.info-dot
                .info-dot__circle 
                .info-dot__radius
            .info-hint.none
                label
                    input(type="radio" name="wall-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--orange
                label
                    input(type="radio" name="wall-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--biruze
                label
                    input(type="radio" name="wall-color").info-hint__radio
                    .info-hint__radio-fake.info-hint__radio-fake--gray
.mobile-nav-wrapper#mobile-nav

        .mobile-nav-header
            a(href="#!").mobile-cart
                .cart
                    img(src="./img/icons/cart.svg", alt="Cart").cart__img
                    .cart__count 0
                | Cart
            button.mobile-nav-btn-close#close-mobile-nav-btn
                img(src="./img/icons/close.svg", alt="Close")
        ul.mobile-nav
            li.mobile-nav__item
                a(href="#!").mobile-nav__link.mobile-nav__link--dropdown Furniture
                ul.mobile-sub-nav
                    li.mobile-sub-nav__item
                        a(href="#!").mobile-sub-nav__link Home 
                    li.sub-nav__item
                        a(href="#!").mobile-sub-nav__link Services 
                    li.sub-nav__item
                        a(href="#!").mobile-sub-nav__link Products 
                    li.sub-nav__item
                        a(href="#!").mobile-sub-nav__link Contacts 

            li.mobile-nav__item
                a(href="#!").mobile-nav__link Shop
            li.mobile-nav__item
                a(href="#!").mobile-nav__link About Us
            li.mobile-nav__item
                a(href="#!").mobile-nav__link Contact
