section.products 
    .container
        h2.products__title Best Selling Product
        .products__tabs
            .tab-controls
                button(data-tab="chair").tab-controls__btn Chair
                button(data-tab="bed").tab-controls__btn Beds
                button(data-tab="sofa").tab-controls__btn Sofa
                button(data-tab="lamp").tab-controls__btn Lamp
        .products__slider
            //- SLIDER
            .slider
                .swiper
                    .swiper-wrapper
                        article(data-tab-value="chair").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Chair
                                    h3.card__title Sakarias Armchair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 396
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="chair").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Chair
                                    h3.card__title Sakarias Armchair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 396
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="chair").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Chair
                                    h3.card__title Sakarias Armchair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 396
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="lamp").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-02.png", srcset="./img/products/chair-02@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Lamp
                                    h3.card__title Baltsar Chair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 299
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="bed").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-03.png", srcset="./img/products/chair-03@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Bed
                                    h3.card__title Anjay Chair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 519
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="sofa").card.swiper-slide
                            a(href="#product-page").card__link 
                            .card__photo
                                img(src="./img/products/chair-04.png", srcset="./img/products/chair-04@2x.png" alt="Chair").card__img
                            .card__desc
                                a(href="#category").card__category Sofa
                                h3.card__title Nyantuy Chair
                                .card__rating
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-off.svg", alt="star")
                                .card__footer
                                    .card__price(data-value="$") 921
                                    button.card__btn Add to cart 
                                        img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="sofa").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-01.png", srcset="./img/products/chair-01@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Sofa
                                    h3.card__title Sakarias Armchair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 396
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="chair").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-02.png", srcset="./img/products/chair-02@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Chair
                                    h3.card__title Baltsar Chair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 299
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="chair").card.swiper-slide
                                a(href="#product-page").card__link 
                                .card__photo
                                    img(src="./img/products/chair-03.png", srcset="./img/products/chair-03@2x.png" alt="Chair").card__img
                                .card__desc
                                    a(href="#category").card__category Chair
                                    h3.card__title Anjay Chair
                                    .card__rating
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-on.svg", alt="star")
                                        img(src="./img/icons/star-off.svg", alt="star")
                                    .card__footer
                                        .card__price(data-value="$") 519
                                        button.card__btn Add to cart 
                                            img(src="./img/icons/plus.svg", alt="add to cart")
                        article(data-tab-value="lamp").card.swiper-slide
                            a(href="#product-page").card__link 
                            .card__photo
                                img(src="./img/products/chair-04.png", srcset="./img/products/chair-04@2x.png" alt="Chair").card__img
                            .card__desc
                                a(href="#category").card__category Lamp
                                h3.card__title Nyantuy Chair
                                .card__rating
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-on.svg", alt="star")
                                    img(src="./img/icons/star-off.svg", alt="star")
                                .card__footer
                                    .card__price(data-value="$") 921
                                    button.card__btn Add to cart 
                                        img(src="./img/icons/plus.svg", alt="add to cart")
                                    
                button.slider__btn.slider__btn--prev#btnPrev
                    img(src="./img/icons/slider-left.svg", alt="Prev")
                button.slider__btn.slider__btn--next#btnNext
                    img(src="./img/icons/slider-right.svg", alt="Next")

        .products__link 
            a(href="#!").read-more.read-more--large View All