.card
    font-family: var(--font-cards)

    width: 268px


.card__photo
    height: 250px

    background-color: #FAFAFA
    border-radius: 20px 20px 0 0
    text-align: center

.card__img
    height: 300px
    margin-top: -50px

.card__desc
    display: flex
    flex-direction: column
    gap: 6px

    height: 202px
    padding: 14px 22px 28px

    background-color: #fff
    border-radius: 0 0 20px 20px

.card__category
    color: var(--text-muted)
    font-size: 16px
    font-weight: 400

.card__title
    color: var(--text-card-darkBlue)
    font-size: 20px
    font-weight: 600
    text-transform: capitalize

.card__rating
    display: flex
    gap: 3px

.card__footer
    margin-top: auto
    display: flex
    justify-content: space-between
    align-items: center